<ion-header>
    <ion-navbar>
      <ion-title>
        Sessão
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div padding>
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="info">
          Informações
        </ion-segment-button>
        <ion-segment-button value="categorias">
          Categorias
        </ion-segment-button>
        <ion-segment-button value="entidades">
          Entidades
        </ion-segment-button>
      </ion-segment>
    </div>
    
    <div [ngSwitch]="segment">
      <ion-list *ngSwitchCase="'info'">
        <ion-item text-wrap text-justify>
          <h2>{{ sessao?.proposicao }}</h2>
          <br />
          <p>{{ sessao?.ementa }}</p>
          <br />
          <p></p>
        </ion-item>

        <ion-item>
          Autoria
          <ion-note item-end>{{ sessao?.autoria }}</ion-note>
        </ion-item>

        <ion-item>
          Votos
          <ion-note item-end>{{ sessao?.votos?.length }}</ion-note>
        </ion-item>

        <ion-item>
          Sim
          <ion-note item-end>{{ sessao?.sim }}</ion-note>
        </ion-item>

        <ion-item>
          Não
          <ion-note item-end>{{ sessao?.nao }}</ion-note>
        </ion-item>

        <ion-item>
          Abstenções
          <ion-note item-end>{{ sessao?.abstencoes }}</ion-note>
        </ion-item>

        <ion-item>
          Início
          <ion-note item-end>{{ sessao?.horarioInicio }}</ion-note>
        </ion-item>

        <ion-item>
          Término
          <ion-note item-end>{{ sessao?.horarioTermino }}</ion-note>
        </ion-item>

        <ion-item>
          Resultado
          <ion-note item-end>{{ sessao?.resultado }}</ion-note>
        </ion-item>
      </ion-list>
    
      <ion-list *ngSwitchCase="'categorias'">
        <ion-item ion-item *ngIf="sessao?.categorias?.length == 0 || !sessao?.categorias">
          Nenhuma categoria
        </ion-item>

        <ion-item text-wrap *ngFor="let categoria of sessao?.categorias">
          <h4>{{ categoria.nome }}</h4>
          <p>Acuracidade: {{ categoria.confianca }}</p>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'entidades'">
        <ion-item ion-item *ngIf="sessao?.entidades?.length == 0 || !sessao?.entidades">
          Nenhuma entidade
        </ion-item>

        <ion-item *ngFor="let entidade of sessao?.entidades">
          {{ entidade.nome }}

          <ion-note item-end>
            {{ entidade.tipo }}
          </ion-note>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>