<ion-header>
  <ion-navbar>
    <ion-title>
      Sessões
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="silver-bg">
  <ion-list>
    <ion-searchbar (ionInput)="filterSessoes($event)" placeholder="Pesquisar"></ion-searchbar>

    <button ion-item *ngFor="let sessao of sessoes" (click)="onLoadSessao(sessao._id)">
      {{ sessao.proposicao }}

      <ion-note item-end>
          {{ sessao.categorias.length ? "&#8226;" : "" }}
      </ion-note>
    </button>

    <ion-item *ngIf="sessoes.length == 0">
      Nenhum registro encontrado
    </ion-item>
  </ion-list>
</ion-content>
  