ion-list {
  margin-top: 4px !important;
  margin-bottom: 0px !important;
}

ion-searchbar {
  margin-bottom: 3px !important;
}

.silver-bg {
  background-color: #F4F4F7;
}

.red-bg {
  background-color: #FF5252
}

.orange-bg {
  background-color: #FFA000
}

.green-bg {
  background-color: #689F38
}